// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #EAFF04;
$orange: #E97950;
$green: #32B796;
$dark-green: #03753B;
$eggshell: #F8F8F8;
$gray: #000000;
$light-gray: #EAEAEA;
$dark-gray: #323852;
$purple: #201C55;
$lime: #C0FF36;
$sky: #04F5FF;
$bright-red: #D43B68;
$out: #AF0017;
$doubt: #EA5038;
$maybe: #E88104;
$probably: #FFC53A;
